{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to URL Shortener!!!  {% endblock %}</h1>
    <form method="post">
    <div class="form-group">
        <label for="url">URL (include https)</label>
        <input type="url" name="url"
               placeholder="Provide URL here" class="form-control"
               value="{{ request.form['url'] }}" 
               autofocus 
               required 
               pattern="https://.*" 
        >
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>

    {% if shorterned_url %}
    <hr>
    <a href={{shorterned_url}} target="_blank"><button class="btn btn-dark">{{ shorterned_url }}</button></a> 
    <button id="copy" class="btn btn-dark"><i class="far fa-clipboard"></i> Copy</button>
    <input type="hidden" id="shortURL" name="shortURL" value={{shorterned_url}}>
    <!-- IF shortened url exists will be shown under the form in a span element -->
    {% endif %}
{% endblock %}